* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  padding-bottom: 40px;
}
h1 {
  text-align: center;
}
.carousel-container {
  position: relative;
  overflow: hidden;
}
.carousel-container .next,
.carousel-container .prev {
  width: 4%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  background: #999;
  color: transparent;
  border: none;
  height: 100%;
  color: #333;
  top: 0;
  left: 0;
}
.carousel-container .next[disabled='disabled'],
.carousel-container .prev[disabled='disabled'] {
  cursor: not-allowed;
  background-color: #eee;
}
.carousel-container .next {
  right: 0;
  left: auto;
}
.images {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.images .image {
  float: left;
  width: 24%;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.images .image .image-tile {
  width: 300px;
  height: 300px;
  background-size: cover;
}
.images .image .title {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: none;
  height: 40px;
  line-height: 40px;
}
.images .image:hover .title {
  display: block;
}
.images .image + .image {
  margin-left: 1.33%;
}
footer {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
}
