@footer-height: 40px;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    padding-bottom: @footer-height;
}

h1 {
    text-align: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;

    .next,
    .prev {
        width: 4%;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        background: #999;
        color: transparent;
        border: none;
        height: 100%;
        color: #333;
        top:0;
        left: 0;

        &[disabled='disabled'] {
            cursor: not-allowed;
            background-color: #eee;
        }
    }

    .next {
        right:0;
        left: auto;
    }
}

.images {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;

    .image {
        float: left;
        width: 24%;
        text-align: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
 
        .image-tile {
            width: 300px;
            height: 300px;
            background-size: cover;
        }
 
        .title {
            @size: 40px;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            font-weight: bold;
            width: 100%;
            text-align: center;
            display: none;
            height: @size;
            line-height: @size;
        }

        &:hover .title {
            display: block;
        }
    }
 
    .image + .image {
        margin-left: 1.33%;
    }
}

footer {
    height: @footer-height;
    line-height: @footer-height;
    width: 100%;
    text-align: center;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
}
